@font-face {
    font-family: MontserratItalic;
    src: url("../fonts/Montserrat-Italic.otf") format("opentype");
}

@font-face {
    font-family: MontserratLight;
    src: url("../fonts/Montserrat-Light.otf") format("opentype");
}

@font-face {
    font-family: MontserratLightItalic;
    src: url("../fonts/Montserrat-LightItalic.otf") format("opentype");
}

@font-face {
    font-family: MontserratSemiBold;
    src: url("../fonts/Montserrat-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: MontserratSemiBoldItalic;
    src: url("../fonts/Montserrat-SemiBoldItalic.otf") format("opentype");
}

.modal-header{
	background-color: #65040C !important;
}

.close{
	color:#fff !important;
	opacity: 1 !important;
}

.fancybox-content{
	background-color: rgb(0,0,0,0.5) !important;
}

.video-container-mobile{
	display: none;
}

#contenido-menu, #contenido-tiendas{
	background-color: rgb(0,0,0,1) !important;
	color:#fff;
}

#main_menu_light li{
	display: block !important;
	border-bottom: 1px solid #666;
    width: 100%;
    text-align: center;
    padding: 20px;
}


.header-container{
	width:100%;
	height: auto;
	border-left: none;
	border-right:none;
	position: relative;
	padding: 20px;
}

.video-container{
	position: absolute;
	top:0%;
	left:0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

video{
	position: absolute;
	z-index: -1;
	width: 100%;
}

#video{    
    width: 100vw; 
    height: auto;
    object-fit: cover;
    left: 0px;
    top: 0px;
    z-index: 1;
}

body{
	background-color:#f6f6f6;
}

ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
	display: inline;
	padding-right: 20px;
}

.menu{
	padding-top: 165px;
	padding-left: 80px;
}


.icon-white{
	color: #fff
}

.icon-red{
	padding-right: 20px;
}

.responsive-menu{
	display: none;
}



.media-menu{
	padding-top: 95px;
	padding-left: 300px;
}

.media-option{
	width:47px;
	float:left;
}

.media-menu a:hover{
	text-decoration: none;
	color:#BF0411;
}

.media-menu ul li{
	width: 50px;
	padding-right: 50px;
}


.menu a{
    font-family: MontserratSemiBold;
    font-size: 15px;
}

.menu a:hover{
    font-family: MontserratSemiBold;
    font-size: 15px;
    text-decoration: none;
}



.index_banner{
	width: 100%;
    background: url(../images/maxresdefault.jpg) no-repeat center fixed;
    background-size: cover;
    position: relative;
    padding: 0px 0px 8px 0px;
}

#main{
	/*background-image:url(../images/maxresdefault.jpg); */
	min-height: 600px;
}

.main-logo{
	padding-top: 235px;
}

#logo{
	height: 552px;
	background-color: yellow;
}

h4{
	font-family: MontserratItalic;
	font-size: 22px;
	font-weight: bold;
	display: inline;
}

h2{
	font-family: MontserratLightItalic;
	font-size: 25px;
	display: inline;
}

small{
	font-family: MontserratLight;
	font-size: 11px;
}

.galeria-item{
	max-width:400px;
	max-height: 280px;
	margin:auto;
}

button{
	background-color: #f6f6f6;
	border:1px solid #A5A5A5;
	padding: 9px 30px 9px 30px;
	cursor: pointer;
}

button:hover{
	background-color: #000;
	color:#fff;
	border:1px solid #000;
	padding: 9px 30px 9px 30px;
	cursor: pointer;
}

.suscribete-medio{
	background-color: #fff;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
}

#suscribete{
	background-color: #f6f6f6;
	border: 1px solid #f6f6f6;
	width: 350px;
	padding: 5px 0px 5px 15px;
	margin-right: 10px;
	height: 45px;
}

#txt_email{
	background-color: #f6f6f6;
	border: 1px solid #f6f6f6;
	width: 350px;
	padding: 5px 0px 5px 15px;
	margin-right: 10px;
	height: 45px;
}

#suscribete_2{
	background-color: #f6f6f6;
	border: 1px solid #f6f6f6;
	width: 750px;
	padding: 5px 0px 5px 15px;
	margin-right: 10px;
	height: 45px;
}

.p_condiciones{
	font-family: MontserratLight;
	font-size: 11px;
	padding-top: 30px;
}

.footer-suscribete{
	background-color: #fff;
	padding-top: 60px;
	padding-bottom: 60px;
}

.p_suscribete{
	font-family: MontserratLight;
	font-size: 14px;
	padding-top: 50px;
}

.footer{
	background-color: #444040;
	min-height: 50px;
}

a{
	font-family: MontserratLight;
	font-size: 14px;
	color:#fff;
}

a:hover{
	font-family: MontserratLight;
	font-size: 14px;
	color:#fff;
}


/*----MASONRY----*/

img {
  max-width: 100%;
  vertical-align: bottom;
}

.masonry.gutterless {
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  column-gap: 0;
}
.masonry.gutterless .brick {
  margin-bottom: 0;
}

.modal-body{
	padding: 0px !important;
	background-color: #A91022;
}

.cover-dama{
	background-image: url("../images/bata_red_dama_.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 1080px;*/
    min-height: 350px;
    position: relative;
}

.texto-dama, .texto-caballero{
	font-family: MontserratSemiBoldItalic;
	font-size: 55px;
	position: absolute;
	color: #fff;
	right: 50px;
	bottom: 20px;
}

.cover-caballero{
	background-image: url("../images/bata_red_caballeros_.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 1080px;*/
    min-height: 350px;
    position: relative;
}

.txt_animado {
	font-family: MontserratLight;
	font-size: 30px !important;
	padding: 10px 35px 40px 35px;
}

@media only screen and (min-width: 1024px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
	background-color: #8B151F;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}


/*----MASONRY----*/


.modal-lg {
    max-width: 100% !important;
}

.header-container-cell{
	display: none;
}


.lista-productos{
	background-color:#f6f6f6; 
	padding-top:90px; 
	padding-bottom:50px; 
	height:auto;
}

.colores{
	padding-bottom: 10px;
}

.fila-productos{
	padding-top:150px;
}

#exampleModal{
	overflow-y:auto !important;
}


.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 10%;
}

#texto-animado-fila{
	height:452px;
}

.img-caballero, 
.img-dama{
	display: none;
}

@media only screen and (max-width: 1240px) {
	.cover-dama{
		background-image: url("../images/bata_red_dama_.jpg");
		background-attachment: scroll;
	    background-position: center top;
	    background-size:100% auto;
	    min-height: 460px;
	}

	.cover-caballero{
		background-image: url("../images/bata_red_caballeros_.jpg");
		background-attachment: scroll;
	    background-position: center top;
	    background-size:100% auto;
	    min-height: 460px;
	}

	.cover-caballero, 
	.cover-dama{
		/*display: none;*/
	}

	.img-caballero,
	.img-dama,
	{
		display: block;
	}
}

@media only screen and (max-width: 1200px) {
	.media-menu, .menu{
		display: none;
	}

	.menu{
		text-align: center;
		width: 100%;
		height: 200px;
		padding-top: 0px;
	}

	.main-logo{
		padding-top: 245px;
	}	

	.responsive-menu{
		display: block;
		float: right;
	}


}

@media only screen and (max-width: 400px) {
	.cover-dama{
		background-image: url("../images/bata_red_dama_.jpg");
		background-attachment: scroll;
	    background-position: center top;
	    background-size:100% auto;
	    min-height: 260px !important;
	}

	.cover-caballero{
		background-image: url("../images/bata_red_caballeros_.jpg");
		background-attachment: scroll;
	    background-position: center top;
	    background-size:100% auto;
	    min-height: 260px !important;
	}

	.texto-dama, .texto-caballero {
	    font-family: MontserratSemiBoldItalic;
	    font-size: 25px;
	    position: absolute;
	    color: #fff;
	    right: 20px;
	    margin-bottom: 10px !important;
	}
}

@media only screen and (max-width: 425px) {
	.cover-dama{
		background-image: url("../images/bata_red_dama_.jpg");
		background-attachment: scroll;
	    background-position: center top;
	    background-size:100% auto;
	}

	.cover-caballero{
		background-image: url("../images/bata_red_caballeros_.jpg");
		background-attachment: scroll;
	    background-position: center top;
	    background-size:100% auto;
	}

	.texto-dama, .texto-caballero {
	    font-family: MontserratSemiBoldItalic;
	    font-size: 25px;
	    position: absolute;
	    color: #fff;
	    right: 20px;
	    bottom: 30px !important;
	}
}

@media only screen and (max-width: 767px) {
	.cover-dama{
		background-image: url("../images/bata_red_dama_.jpg");
		background-attachment: scroll;
	    background-position: center top;
	    background-size:100% auto;
	    min-height: 260px;
	}

	.cover-caballero{
		background-image: url("../images/bata_red_caballeros_.jpg");
		background-attachment: scroll;
	    background-position: center top;
	    background-size:100% auto;
	    min-height: 260px;
	}

	.texto-dama, .texto-caballero {
	    font-family: MontserratSemiBoldItalic;
	    font-size: 25px;
	    position: absolute;
	    color: #fff;
	    right: 20px;
	    bottom: 10px;
	}

	.video-container-mobile{
		display: block;
		position: absolute;
		top:0%;
		left:0%;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}


	.video-container{
		display: none;
	}


	#logo_animado{
		width: 40%;
	}

	.img-dama{
		/*margin-top: 50px;*/
	}

	#texsto-animado-fila{
		display: none;
	}

	.responsive-menu{
		display: block;
		float: right;
	}

	#texto-animado-fila{
		height:300px;
	}

	.txt_animado {
		font-family: MontserratLight;
		font-size: 20px !important;
		padding-top: 10px;
	}

	.menu{
		display: none;
	}

	#main{
		/*background-image:url(../images/maxresdefault.jpg); */
		min-height: 200px;
	}

	.media-menu{
		display: none;
	}

	.fila-productos{
		padding-top:15px;
	}

	.col-md-4{
		padding-bottom: 15px !important;
	}

	.lista-productos{
		background-color:#f6f6f6; 
		padding-top:20px; 
		padding-bottom:50px; 
		height:auto;
	}

	/*.header-container-cell{
		display: block;
		width:100%;
		height: 760px;
		border-left: none;
		border-right:none;
		position: relative;
		padding: 20px;
		background-color: #D50209;
	}

	.header-container{
		display: none;
	}*/

	.galeria-item{
		max-width:100%;
		max-height: 100%;
	}

	#suscribete{
		background-color: #f6f6f6;
		border: 1px solid #f6f6f6;
		width: 250px;
		padding: 5px 0px 5px 15px;
		margin-right: 10px;
		height: 45px;
	}

	#txt_email{
		background-color: #f6f6f6;
		border: 1px solid #f6f6f6;
		width: 250px;
		padding: 5px 0px 5px 15px;
		margin-right: 10px;
		height: 45px;
	}

	#suscribete_2{
		background-color: #f6f6f6;
		border: 1px solid #f6f6f6;
		width: 250px;
		padding: 5px 0px 5px 15px;
		margin-right: 10px;
		height: 45px;
	}

	label{
		display:block;
		cursor: pointer;
	}

	.menu{
		text-align: center;
		width: 100%;
		height: 200px;
		padding-top: 0px;
	}

	.main-logo{
		display: none;
	}	
	
}